#cloud-config
package_update: true
packages:
  - curl

users:
  - name: admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ${local_ssh_public_key}
      - ${worker_ssh_public_key}

runcmd:
  - |
    apt-get update -y
    curl -sfL https://get.k3s.io | \
      INSTALL_K3S_EXEC="--flannel-backend=none --disable-network-policy --disable traefik --disable servicelb --disable-cloud-controller --kubelet-arg cloud-provider=external" \
      sh -
    chown admin:admin /etc/rancher/k3s/k3s.yaml
    chown admin:admin /var/lib/rancher/k3s/server/node-token
    
    
    
    



