apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-8"
spec:
  project: platform
  source:
    repoURL: https://github.com/Aleksuo/demo-cluster-iac.git
    targetRevision: HEAD
    path: kubernetes/addons/external-secrets
  destination:
    server: https://kubernetes.default.svc
    namespace: external-secrets
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      # The crds are over 256KB and need to be applied server-side 
      # https://external-secrets.io/latest/introduction/getting-started/
      - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true